<!doctype html>
<html>
	<head>
		<link href="..\assets\css\main.css" rel="stylesheet" type="text/css" />
		<meta charset="utf-8" />
	</head>
	<body>
		<header>
			<img src="..\assets\img\titlebar.jpg" alt="Information Technology" id="titleimg"/>
		</header>
		<nav class="nav">
			...
		</nav>
		<div class="container">
			<section>
				<p>
					{{content}}
				</p>
			</section>
		</div>
		<footer>
			<p>Aman Chowdhury & IT Systems Class of 2016 | E-Mail: <a href="mailto:emailgoeshere@email.com" id="email">email@email.com</a> | Prepared for Piotr Proszynski</p>
		</footer>
	</body>
</html>